<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gov.in.bloomington.open311"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/georeporter_icon"
        android:label="GeoReporter" android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".MainActivity"
            android:label="GeoReporter" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyPreferencesActivity"></activity>
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".ReportActivity"></activity>
        <activity android:name=".MyReportsActivity"></activity>
        <activity android:name=".MyServersActivity"></activity>
    </application>

</manifest>